.rightc_main{width: 920px;padding: 20px 0;}
@media only screen and (min-width:1500px) {
	.rightc_main{width: 1220px;}
}
.reference{margin-left: -3px;}
@media only screen and (min-width:1500px) {
	.reference{margin-left: -10px;}
}
.reference li{width: 210px;height: 267px;float: left;border: 1px solid #D4D4D4;margin-left: 17px;margin-bottom: 29px;position: relative;}
@media only screen and (min-width:1500px) {
	.reference li{margin-left: 33px;}
}
.reference li:hover{box-shadow: 0 0 10px #C5C4C4;}
.reference li .pic_box{width: 210px;height: 211px;background-color: #fff;position: relative;}
.reference li .pic_box>a{width: 210px;height: 210px;display: table-cell;text-align: center;padding-top: 2px;position: relative;vertical-align: middle;}
.reference li .pic_box .titlebox{height: 48px;width: 210px;background-color: #E4E4E1;padding-top: 8px;}
.reference li .pic_box .titlebox>p{text-align: center;line-height: 20px;color: #979797;margin: 0 10px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
