<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>素材</title>
		<link href="css/main.css" rel="stylesheet" type="text/css" />
		<!--<link rel="stylesheet" type="text/css" href="css/fzsy.css" />-->
		<script src="js/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/angular.min.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/fsdp.css" />
		<!--<link rel="stylesheet" type="text/css" href="css/materia.css" />-->
		<link rel="stylesheet" type="text/css" href="css/brand.css" />
	</head>

	<body>
		<div class="wrap">
			<div class="header">
				<div class="header-top">
					<div class="main clearfix">
						<a class="alogo" href="#" target="_blank"><img class="logoer" src="img/logoer.png" /></a>
						<p class="logo-text" style="color: #FFFFFF;">时尚引领潮流<br/> 搭配无处不在
						</p>
						<p class="phone" style="color: #FFFFFF;">时尚资讯：029-82222601<br/> 服装咨询 ：029-82222601
						</p>
					</div>
				</div>
				<div class="nav">
					<div class="main-nav clearfix">
						<ul class="navul">
							<li>
								<a href="xmer.html">时尚首页</a>
							</li>
							<li>
								<a href="materia.html" target="_blank">时尚材料</a>
							</li>
							<li>
								<a href="analyzeT.html" target="_blank">T台分析</a>
							</li>
							<li>
								<a href="fsdp.html" target="_blank">专业搭配师</a>
							</li>
							<li>
								<a href="fztj.html" target="_blank">服装推荐</a>
							</li>
							<li>
								<a href="lining.html" target="_blank">面料</a>
							</li>

							<li>
								<a href="brand.html" target="_blank">品牌</a>
							</li>
							<li>
								<a href="register.html" target="_blank">加入我们</a>
							</li>

						</ul>
						<div class="nav-act " style="left:0;"></div>
					</div>
				</div>
			</div>
			<div class="fsdp_banner">
				<ul>
					<li class="fir">
						<a href="#"><img src="img/images10/banner01.jpg" /></a>
					</li>
					<li>
						<a href="#"><img src="img/images10/banner02.jpg" /></a>
					</li>
					<li>
						<a href="#"><img src="img/images10/banner03.jpg" /></a>
					</li>
					<li>
						<a href="#"><img src="img/images10/banner04.jpg" /></a>
					</li>
					<li>
						<a href="#"><img src="img/images10/banner05.jpg" /></a>
					</li>
				</ul>
				<script type="text/javascript">
					$a = 0;
					$lunbo();

					function $lunbo() {
						$(".fsdp_banner ul li").eq($a).fadeOut(1000);
						$a++;
						if($a == 5) { $a = 0 }
						$(".fsdp_banner ul li").eq($a).fadeIn(1000);
					}

					var time = setInterval($lunbo, 4000);
				</script>
			</div>
			<div class="Bmain con_width">
				<div class="Bmtitle">
					<div class="bmtit">
						<span class="leftline"></span>
						<h3>品牌<p>BRANDS</p></h3>
						<span class="rightline"></span>
					</div>
					<div class="keyword clearfix">
						<div class="keywleft fl">
							<div class="keytext">
								<ul class="clearfix">
									<li>
										<a href="#" class="fl">性别：全部</a>
										<em class="fl"></em>
										<div class="downlist">
											<a href="#">男装</a>
											<a href="#">女装</a>
											<a href="#">童装</a>
										</div>
									</li>
									<li>
										<a href="#" class="fl">行业：全部</a>
										<em class="fl"></em>
										<div class="downlist">
											<a href="#">毛衫</a>
											<a href="#">皮革/皮草</a>
											<a href="#">内衣/泳装/家具/服饰</a>
											<a href="#">婚纱/礼服</a>
											<a href="#">运动</a>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="keywright fr">
							简介
							<div class="info_content">
								<i></i> 提供全球4万多品牌时时产品变化和款式资料，同时提供重点地区重点品牌全维度多视角、货品结构与设计特点深入解析，关注品牌前世今生动态变化与原因分析
							</div>
						</div>
					</div>
					<div class="all_icon">
						<ul>
							<li>
								<label class="fl">地区:</label>
								<div class="fl">
									<a href="#" class="cur">全部</a>
									<a href="#" class="curgold">中国</a>
									<a href="#" class="curgreen">欧美地区</a>
									<a href="#" class="curgreen">法国</a>
									<a href="#" class="curgreen">意大利</a>
									<a href="#" class="curgreen">英国</a>
									<a href="#" class="cursgold">亚太地区 </a>
									<a href="#" class="cursgold">韩国</a>
									<a href="#" class="cursgold">日本</a>
									<a href="#" class="curblue">中东地区</a>
									<a href="#" class="cursblue">非洲地区</a>
								</div>
							</li>
							<li>
								<label class="fl">市场定位:</label>
								<div class="fl lighter">
									<a href="#" class="fir">全部</a>
									<a href="#">奢侈/高定品牌</a>
									<a href="#">轻奢品牌</a>
									<a href="#">市场品牌</a>
									<a href="#">新锐设计师品牌</a>
									<a href="#">潮街品牌</a>
									<a href="#">运动户外品牌</a>
									<a href="#">其他</a>
								</div>
							</li>
						</ul>
						<div class="sear_result">
							<a href="#">
								<i></i> 共找到
								<span>707</span> 个品牌
							</a>
						</div>
					</div>
				</div>
				<div class="Bprimary">
					<div class="update_icon">
						<div class="con_width">
							<div class="brand_img fl">
								<span></span>
								<p class="title">热门品牌推荐<br><em>BRAND RECOMMEHDATION</em><i></i></p>
							</div>
							<ul class="clearfix fl update_list">
								<li>
									<a href="#">
										<div class="show_box">
											<p class="headline">
												<span class="hlrow1">Giorgio Armani</span></br>
												<span class="hlrow2">乔治阿玛尼</span>
											</p>
											<span class="md_line"></span>
											<p class="update_num">
												共有：
												<i>10805</i>
											</p>
											<span class="span_l"></span>
											<span class="span_r"></span>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="show_box">
											<p class="headline">
												<span class="hlrow1">Desigual</span></br>
												<span class="hlrow2">德诗高</span>
											</p>
											<span class="md_line"></span>
											<p class="update_num">
												共有：
												<i>3991</i>
											</p>
											<span class="span_l"></span>
											<span class="span_r"></span>
										</div>
									</a>
								</li>
								<li class="yimg">
									<a href="#">
										<img src="img/images10/brandlist03.jpg" />
										<div class="show_box">
											<p class="headline">
												<span class="hlrow1">Zimmermann</span></br>
												<span class="hlrow2">兹摩曼</span>
											</p>
											<span class="md_line"></span>
											<p class="update_num">
												共有：
												<i>3991</i>
											</p>
											<span class="span_l"></span>
											<span class="span_r"></span>
										</div>
									</a>
								</li>
								<li class="yimg">
									<a href="#">
										<img src="img/images10/brandlist04.jpg" />
										<div class="show_box">
											<p class="headline">
												<span class="hlrow1">Christopher Kane</span></br>
												<span class="hlrow2">克里斯托佛·凯恩</span>
											</p>
											<span class="md_line"></span>
											<p class="update_num">
												共有：
												<i>3991</i>
											</p>
											<span class="span_l"></span>
											<span class="span_r"></span>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="show_box">
											<p class="headline">
												<span class="hlrow1">Alice Archer</span></br>
												<span class="hlrow2">爱丽丝</span>
											</p>
											<span class="md_line"></span>
											<p class="update_num">
												共有：
												<i>3991</i>
											</p>
											<span class="span_l"></span>
											<span class="span_r"></span>
										</div>
									</a>
								</li>
								<li class="yimg">
									<a href="#">
										<img src="img/images10/brandlist06.jpg" />
										<div class="show_box">
											<p class="headline">
												<span class="hlrow1">Dsquared2</span></br>
												<span class="hlrow2">D二次方</span>
											</p>
											<span class="md_line"></span>
											<p class="update_num">
												共有：
												<i>3991</i>
											</p>
											<span class="span_l"></span>
											<span class="span_r"></span>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="show_box">
											<p class="headline">
												<span class="hlrow1">ON&ON</span></br>
												<span class="hlrow2">安乃安</span>
											</p>
											<span class="md_line"></span>
											<p class="update_num">
												共有：
												<i>3991</i>
											</p>
											<span class="span_l"></span>
											<span class="span_r"></span>
										</div>
									</a>
								</li>
								<li class="yimg">
									<a href="#">
										<img src="img/images10/brandlist08.jpg" />
										<div class="show_box">
											<p class="headline">
												<span class="hlrow1">Ochirly</span></br>
												<span class="hlrow2">欧时力</span>
											</p>
											<span class="md_line"></span>
											<p class="update_num">
												共有：
												<i>3991</i>
											</p>
											<span class="span_l"></span>
											<span class="span_r"></span>
										</div>
									</a>
								</li>
								<li class="yimg">
									<a href="#">
										<img src="img/images10/brandlist09.jpg" />
										<div class="show_box">
											<p class="headline">
												<span class="hlrow1">Celing</span></br>
												<span class="hlrow2">思琳</span>
											</p>
											<span class="md_line"></span>
											<p class="update_num">
												共有：
												<i>3991</i>
											</p>
											<span class="span_l"></span>
											<span class="span_r"></span>
										</div>
									</a>
								</li>
								<li class="yimg">
									<a href="#">
										<img src="img/images10/brandlist10.jpg" />
										<div class="show_box">
											<p class="headline">
												<span class="hlrow1">Saint Laurent</span></br>
												<span class="hlrow2">圣罗兰</span>
											</p>
											<span class="md_line"></span>
											<p class="update_num">
												共有：
												<i>3991</i>
											</p>
											<span class="span_l"></span>
											<span class="span_r"></span>
										</div>
									</a>
								</li>
								<li class="yimg">
									<a href="#">
										<img src="img/images10/brandlist11.jpg" />
										<div class="show_box">
											<p class="headline">
												<span class="hlrow1">Alexander·Maikun</span></br>
												<span class="hlrow2">亚历山大·麦昆</span>
											</p>
											<span class="md_line"></span>
											<p class="update_num">
												共有：
												<i>3991</i>
											</p>
											<span class="span_l"></span>
											<span class="span_r"></span>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="show_box">
											<p class="headline">
												<span class="hlrow1">Giorgio Armani</span></br>
												<span class="hlrow2">乔治阿玛尼</span>
											</p>
											<span class="md_line"></span>
											<p class="update_num">
												共有：
												<i>10805</i>
											</p>
											<span class="span_l"></span>
											<span class="span_r"></span>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="show_box">
											<p class="headline">
												<span class="hlrow1">Desigual</span></br>
												<span class="hlrow2">德诗高</span>
											</p>
											<span class="md_line"></span>
											<p class="update_num">
												共有：
												<i>3991</i>
											</p>
											<span class="span_l"></span>
											<span class="span_r"></span>
										</div>
									</a>
								</li>
								<li class="yimg">
									<a href="#">
										<img src="img/images10/brandlist03.jpg" />
										<div class="show_box">
											<p class="headline">
												<span class="hlrow1">Zimmermann</span></br>
												<span class="hlrow2">兹摩曼</span>
											</p>
											<span class="md_line"></span>
											<p class="update_num">
												共有：
												<i>3991</i>
											</p>
											<span class="span_l"></span>
											<span class="span_r"></span>
										</div>
									</a>
								</li>
								<li class="yimg">
									<a href="#">
										<img src="img/images10/brandlist04.jpg" />
										<div class="show_box">
											<p class="headline">
												<span class="hlrow1">Christopher Kane</span></br>
												<span class="hlrow2">克里斯托佛·凯恩</span>
											</p>
											<span class="md_line"></span>
											<p class="update_num">
												共有：
												<i>3991</i>
											</p>
											<span class="span_l"></span>
											<span class="span_r"></span>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="show_box">
											<p class="headline">
												<span class="hlrow1">Alice Archer</span></br>
												<span class="hlrow2">爱丽丝</span>
											</p>
											<span class="md_line"></span>
											<p class="update_num">
												共有：
												<i>3991</i>
											</p>
											<span class="span_l"></span>
											<span class="span_r"></span>
										</div>
									</a>
								</li>
								<li class="yimg">
									<a href="#">
										<img src="img/images10/brandlist06.jpg" />
										<div class="show_box">
											<p class="headline">
												<span class="hlrow1">Dsquared2</span></br>
												<span class="hlrow2">D二次方</span>
											</p>
											<span class="md_line"></span>
											<p class="update_num">
												共有：
												<i>3991</i>
											</p>
											<span class="span_l"></span>
											<span class="span_r"></span>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="show_box">
											<p class="headline">
												<span class="hlrow1">ON&ON</span></br>
												<span class="hlrow2">安乃安</span>
											</p>
											<span class="md_line"></span>
											<p class="update_num">
												共有：
												<i>3991</i>
											</p>
											<span class="span_l"></span>
											<span class="span_r"></span>
										</div>
									</a>
								</li>
								<li class="yimg">
									<a href="#">
										<img src="img/images10/brandlist08.jpg" />
										<div class="show_box">
											<p class="headline">
												<span class="hlrow1">Ochirly</span></br>
												<span class="hlrow2">欧时力</span>
											</p>
											<span class="md_line"></span>
											<p class="update_num">
												共有：
												<i>3991</i>
											</p>
											<span class="span_l"></span>
											<span class="span_r"></span>
										</div>
									</a>
								</li>
								<li class="yimg">
									<a href="#">
										<img src="img/images10/brandlist09.jpg" />
										<div class="show_box">
											<p class="headline">
												<span class="hlrow1">Celing</span></br>
												<span class="hlrow2">思琳</span>
											</p>
											<span class="md_line"></span>
											<p class="update_num">
												共有：
												<i>3991</i>
											</p>
											<span class="span_l"></span>
											<span class="span_r"></span>
										</div>
									</a>
								</li>
								<li class="yimg">
									<a href="#">
										<img src="img/images10/brandlist10.jpg" />
										<div class="show_box">
											<p class="headline">
												<span class="hlrow1">Saint Laurent</span></br>
												<span class="hlrow2">圣罗兰</span>
											</p>
											<span class="md_line"></span>
											<p class="update_num">
												共有：
												<i>3991</i>
											</p>
											<span class="span_l"></span>
											<span class="span_r"></span>
										</div>
									</a>
								</li>
								<li class="yimg">
									<a href="#">
										<img src="img/images10/luyi.jpg" />
										<div class="show_box">
											<p class="headline">
												<span class="hlrow1">Alexander·Maikun</span></br>
												<span class="hlrow2">亚历山大·麦昆</span>
											</p>
											<span class="md_line"></span>
											<p class="update_num">
												共有：
												<i>3991</i>
											</p>
											<span class="span_l"></span>
											<span class="span_r"></span>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="show_box">
											<p class="headline">
												<span class="hlrow1">Giorgio Armani</span></br>
												<span class="hlrow2">乔治阿玛尼</span>
											</p>
											<span class="md_line"></span>
											<p class="update_num">
												共有：
												<i>10805</i>
											</p>
											<span class="span_l"></span>
											<span class="span_r"></span>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="show_box">
											<p class="headline">
												<span class="hlrow1">Desigual</span></br>
												<span class="hlrow2">德诗高</span>
											</p>
											<span class="md_line"></span>
											<p class="update_num">
												共有：
												<i>3991</i>
											</p>
											<span class="span_l"></span>
											<span class="span_r"></span>
										</div>
									</a>
								</li>
								<li class="yimg">
									<a href="#">
										<img src="img/images10/brandlist14.jpg" />
										<div class="show_box">
											<p class="headline">
												<span class="hlrow1">Zimmermann</span></br>
												<span class="hlrow2">兹摩曼</span>
											</p>
											<span class="md_line"></span>
											<p class="update_num">
												共有：
												<i>3991</i>
											</p>
											<span class="span_l"></span>
											<span class="span_r"></span>
										</div>
									</a>
								</li>
								<li class="yimg">
									<a href="#">
										<img src="img/images10/brandlist15.jpg" />
										<div class="show_box">
											<p class="headline">
												<span class="hlrow1">Christopher Kane</span></br>
												<span class="hlrow2">克里斯托佛·凯恩</span>
											</p>
											<span class="md_line"></span>
											<p class="update_num">
												共有：
												<i>3991</i>
											</p>
											<span class="span_l"></span>
											<span class="span_r"></span>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="show_box">
											<p class="headline">
												<span class="hlrow1">Alice Archer</span></br>
												<span class="hlrow2">爱丽丝</span>
											</p>
											<span class="md_line"></span>
											<p class="update_num">
												共有：
												<i>3991</i>
											</p>
											<span class="span_l"></span>
											<span class="span_r"></span>
										</div>
									</a>
								</li>
								<li class="yimg">
									<a href="#">
										<img src="img/images10/brandlist06.jpg" />
										<div class="show_box">
											<p class="headline">
												<span class="hlrow1">Dsquared2</span></br>
												<span class="hlrow2">D二次方</span>
											</p>
											<span class="md_line"></span>
											<p class="update_num">
												共有：
												<i>3991</i>
											</p>
											<span class="span_l"></span>
											<span class="span_r"></span>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="show_box">
											<p class="headline">
												<span class="hlrow1">ON&ON</span></br>
												<span class="hlrow2">安乃安</span>
											</p>
											<span class="md_line"></span>
											<p class="update_num">
												共有：
												<i>3991</i>
											</p>
											<span class="span_l"></span>
											<span class="span_r"></span>
										</div>
									</a>
								</li>
								<li class="yimg">
									<a href="#">
										<img src="img/images10/babaoli.jpg" />
										<div class="show_box">
											<p class="headline">
												<span class="hlrow1">Ochirly</span></br>
												<span class="hlrow2">欧时力</span>
											</p>
											<span class="md_line"></span>
											<p class="update_num">
												共有：
												<i>3991</i>
											</p>
											<span class="span_l"></span>
											<span class="span_r"></span>
										</div>
									</a>
								</li>
								<li class="yimg">
									<a href="#">
										<img src="img/images10/brandlist09.jpg" />
										<div class="show_box">
											<p class="headline">
												<span class="hlrow1">Celing</span></br>
												<span class="hlrow2">思琳</span>
											</p>
											<span class="md_line"></span>
											<p class="update_num">
												共有：
												<i>3991</i>
											</p>
											<span class="span_l"></span>
											<span class="span_r"></span>
										</div>
									</a>
								</li>
								<li class="yimg">
									<a href="#">
										<img src="img/images10/brandlist10.jpg" />
										<div class="show_box">
											<p class="headline">
												<span class="hlrow1">Saint Laurent</span></br>
												<span class="hlrow2">圣罗兰</span>
											</p>
											<span class="md_line"></span>
											<p class="update_num">
												共有：
												<i>3991</i>
											</p>
											<span class="span_l"></span>
											<span class="span_r"></span>
										</div>
									</a>
								</li>
								<li class="yimg">
									<a href="#">
										<img src="img/images10/brandlist11.jpg" />
										<div class="show_box">
											<p class="headline">
												<span class="hlrow1">Alexander·Maikun</span></br>
												<span class="hlrow2">亚历山大·麦昆</span>
											</p>
											<span class="md_line"></span>
											<p class="update_num">
												共有：
												<i>3991</i>
											</p>
											<span class="span_l"></span>
											<span class="span_r"></span>
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="all_icon_num con_width" ng-app="static" ng-controller="ctrstatic">
						<div class="all_icon">
							<div class="brand_search">
								<div class="fl s_box">
									<span class="sear_icon fl"></span>
									<input type="text" class="fr" placeholder="请输入品牌名"  ng-model="serch"/>
								</div>
								<span class="fl line">|</span>
								<div class="fl zm" id="az">
									<a class="all_brand">全部品牌</a>
									<a>A</a>
									<a>B</a>
									<a>C</a>
									<a>D</a>
									<a>E</a>
									<a>F</a>
									<a>G</a>
									<a>H</a>
									<a>I</a>
									<a>J</a>
									<a>K</a>
									<a>L</a>
									<a>M</a>
									<a>N</a>
									<a>O</a>
									<a>P</a>
									<a>Q</a>
									<a>R</a>
									<a>S</a>
									<a>T</a>
									<a>U</a>
									<a>V</a>
									<a>W</a>
									<a >X</a>
									<a>Y</a>
									<a>Z</a>
									<a>0-9</a>
									<a>其他</a>
								</div>
							</div>

							<div class="brand_result">
								<ul class="clearfix">
									<li class="clearfix" ng-repeat="v in arr">
										<h3 class="fl">{{v.name}}</h3>
										<div class="brand_result_list fr">
                                           <a href="#" ng-repeat="x in v.data | filter:serch track by $index">{{x}}</a>
										</div>
									</li>
								</ul>
							</div>

						</div>
					</div>

				</div>
			</div>
			
			<script src="js/brandlist.js" type="text/javascript" charset="utf-8"></script>
             <script type="text/javascript">
             	$("#az a").click(function(){
             		$i=$(this).index();
             		
             		$(".brand_result ul li").eq($i-1).show().siblings().hide();
             	});
             	$(".all_brand").click(function(){
             		$(".brand_result ul li").show();
             	});
             </script>
			<div class="footer">
				<div class="map clearfix">
					<div class="contentW">
						<div class="fl">
							<div class="tel">
								<span></span>
								<p class="telNum">4008-210-500<em>（售前）</em><br/> 4008-210-662
									<em>（售后）</em></p>
							</div>
							<div class="clear"></div>
							<p class="tTime">POP服装趋势网客服热线<br/>周一至周日：09:00-22:00</p>
						</div>
						<div class="catList fl">
							<!--底部栏目-->

							<ul>
								<li class="first">
									<a href="javascript:void(0)">趋势解读</a>
								</li>
								<li>
									<a href='javascript:void(0)'>主题色彩</a>
								</li>
								<li>
									<a href='javascript:void(0)'>图案趋势</a>
								</li>
								<li>
									<a href='javascript:void(0)'>面辅料趋势</a>
								</li>
								<li>
									<a href='javascript:void(0)'>工艺趋势</a>
								</li>
								<li>
									<a href='javascript:void(0)'>廓形趋势</a>
								</li>
								<li>
									<a href='javascript:void(0)'>企划/组货</a>
								</li>
								<li>
									<a href='javascript:void(0)'>快反应</a>
								</li>
							</ul>
							<ul class="mainT">
								<li class="first">
									<a href='javascript:void(0)'>流行分析</a>
								</li>
								<li>
									<a href='javascript:void(0)'>T台分析</a>
								</li>
								<li>
									<a href='javascript:void(0)'>订货会分析</a>
								</li>
								<li>
									<a href='javascript:void(0)'>设计师品牌分析</a>
								</li>
								<li>
									<a href='javascript:void(0)'>标杆品牌分析</a>
								</li>
								<li>
									<a href='javascript:void(0)'>市场分析</a>
								</li>
								<li>
									<a href='javascript:void(0)'>展会分析</a>
								</li>
							</ul>
							<ul class='fenK'>
								<li class="first">
									<a href='javascript:void(0)'>潮流领袖</a>
								</li>
								<li>
									<a href='javascript:void(0)'>街拍分析</a>
								</li>
								<li>
									<a href='javascript:void(0)'>行业报道</a>
								</li>
								</li>
							</ul>
							<ul>
								<li class="first">
									<a href='javascript:void(0)'>款式</a>
								</li>
								<li>
									<a href='javascript:void(0)'>秀场提炼</a>
								</li>
								<li>
									<a href='javascript:void(0)'>订货会</a>
								</li>
								<li>
									<a href='javascript:void(0)'>设计师品牌</a>
								</li>
								<li>
									<a href='javascript:void(0)'>名牌精选</a>
								</li>
								<li>
									<a href='javascript:void(0)'>款式流行</a>
								</li>
								<li>
									<a href='javascript:void(0)'>全球实拍</a>
								</li>
								<li>
									<a href='javascript:void(0)'>潮流领袖</a>
								</li>
								<li>
									<a href='javascript:void(0)'>街拍图库</a>
								</li>
							</ul>
							<ul>
								<li class="first">
									<a href='javascript:void(0)'>图案</a>
								</li>
								<li>
									<a href='javascript:void(0)'>图案素材</a>
								</li>
								<li>
									<a href='javascript:void(0)'>大牌花型</a>
								</li>
								<li>
									<a href='javascript:void(0)'>图案专题</a>
								</li>
								<li>
									<a href='javascript:void(0)'>图案工艺</a>
								</li>
								<li>
									<a href='javascript:void(0)'>数码云打印</a>
								</li>
							</ul>
							<ul>
								<li class="first">
									<a href="javascript:void(0)">T台</a>
								</li>
								<li>
									<a href="javascript:void(0)">巴黎时装周</a>
								</li>
								<li>
									<a href="javascript:void(0)">纽约时装周</a>
								</li>
								<li>
									<a href="javascript:void(0)">米兰时装周</a>
								</li>
								<li>
									<a href="javascript:void(0)">伦敦时装周</a>
								</li>
								<li>
									<a href="javascript:void(0)">其它</a>
								</li>
							</ul>
							<ul>
								<li class="first">
									<a href='javascript:void(0)'>读物</a>
								</li>
								<li>
									<a href='javascript:void(0)'>趋势手稿</a>
								</li>
								<li>
									<a href='javascript:void(0)'>单品合辑</a>
								</li>
								<li>
									<a href='javascript:void(0)'>快反应系列</a>
								</li>
								<li>
									<a href='javascript:void(0)'>广告大片</a>
								</li>
							</ul>
							<ul>
								<li class="first">
									<a href='javascript:void(0)'>素材</a>
								</li>
								<li>
									<a href='javascript:void(0)'>灵感源</a>
								</li>
								<li>
									<a href='javascript:void(0)'>灵感视频</a>
								</li>
								<li>
									<a href='javascript:void(0)'>款式模板</a>
								</li>
								<li>
									<a href='javascript:void(0)'>款式细节</a>
								</li>
								<li>
									<a href='javascript:void(0)'>店铺陈列</a>
								</li>
								<li>
									<a href='javascript:void(0)'>展会面料</a>
								</li>
								<li>
									<a href='javascript:void(0)'>服饰品</a>
								</li>
							</ul>

						</div>
						<div class="fr">
							<div class="erwm">
								<p style="color: #fff;">官方微信服务号</p>
								<img alt="官方微信服务号" src="img/images10/wechat.jpg" />
							</div>
						</div>
					</div>
				</div>
				<div class="log-ico log-ico-safy">
					<div class="contentW">
						<ul>
							<li>
								<a class="pop" href="javascript:void(0)" target="_blank"></a>
							</li>
							<li>
								<a class="pshous" href="javascript:void(0)" target="_blank"></a>
							</li>
							<li>
								<a class="pshoe" href="javascript:void(0)" target="_blank"></a>
							</li>
							<li>
								<a class="pbag" href="javascript:void(0)" target="_blank"></a>
							</li>
							<li>
								<a class="pjiaf" href="javascript:void(0)" target="_blank"></a>
							</li>
							<li>
								<a class="pulb" href="javascript:void(0)" target="_blank"></a>
							</li>
						</ul>
						<div class="aboutPop">
							<div>
								<a href="#" target="_blank" rel="nofollow">关于我们</a>|
								<a href="#" target="_blank" rel="nofollow">加入会员</a>|
								<a href="#" target="_blank" rel="nofollow">会员须知</a>|
								<a href="#" target="_blank" rel="nofollow">收费一览</a>|
								<a href="#" target="_blank" rel="nofollow">付款方式</a>|
								<a href="#" target="_blank" rel="nofollow">法律声明</a>|
								<a href="#" target="_blank" rel="nofollow">联系我们</a>|
								<a href="#" rel="nofollow">友情链接</a>|
								<a href="#" target="_blank" rel="nofollow">诚聘英才</a>|
								<a href="#" target="_blank">网站地图</a>|
								<a href="#" target="_blank" rel="nofollow">广告中心</a>
								<!--<a href="http://www.pop136.com/fuwu.php" target="_blank" rel="nofollow">帮助中心</a>|
				<a href="/sitemap/sitemap.xml" target="_blank">网站地图</a>|-->
							</div>
							<p>上海逸尚云联信息技术股份有限公司 &copy; 2004-2020<span>法律顾问：北京中银（上海）律师事务所 沪ICP备06003020号-1</span></p>
							<div style="width:300px;margin:0 auto; padding:20px 0 0;">
								<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010402000973" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="http://img1.fm.pop-fashion.com/global/images/safty.png" style="float:left;" />
									<p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">沪公网安备 31010402000973号</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<script src="js/brandxmall.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/main.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>